.card-style {
  background-color: gainsboro;
  width: auto;
  height: 25vh;
}

.card-title {
  text-align: center;
}

.about-us-card-style {
  background-color: gainsboro;
  margin-top: 30px;
}

.main-footer {
  padding-top: 3rem;
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: rgb(33,37,41);
  color: white;
}

.footer-bar {
  display: flex;
  flex-direction: column;
  min-height: 60vh;
}

.footer-wrap {
  margin-top: auto;
}

.middle-position-text {
    text-align: center;
}


@font-face {
    font-family: myNewFont;
    src: url("../font/Raleway-Regular.ttf");
}

p, .text-font {
    font-family: myNewFont;
}

@font-face {
    font-family: myKhmerFont;
    src: url("../font/Bayon-Regular.ttf");
}

.khmer-font {
    font-family: myKhmerFont;
}

.navbar-style {
    margin: auto 10px;
}

.navbar-style:hover {
    text-decoration: underline;
    color: red !important;
}

.active {
    color: red !important;
}
